<div class="row">
  <div class="card">
    <div class="card-body">
      <div class="search-hero">
        <input autocomplete="off" type="text" name="search" [(ngModel)]="search"  placeholder="search by id ,name and city">
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let hero of heroes | filter : search">
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
      <td>{{hero.city}}</td>
    </tr>
  </tbody>

</table>
